* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background: black;
}
body {
    font-family: Arial, sans-serif;
    color: #000000;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: #fff;
    width: 100%;
    border: 3px solid white;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

.skills-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
    width: 100%;
    max-width: 1200px;
}

.skill-card {
    position: relative;
    background-color: black;
    width: 400px;
    padding: 20px;
    border-radius: 12px;
    overflow: hidden;
    z-index: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    border: 2px solid white;
  }
  
  .skill-card::before {
    content: "";
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 130%;
    background: rgb(233, 233, 6);
    animation: rotate 4s linear infinite;
    z-index: -2;
    border-radius: 20px;
  }
  
  .skill-card::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    background-color: black;
    z-index: -1;
    border-radius: 10px;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  


.skill-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border: 4px solid rgb(39, 168, 74);
}

.skill-card h2 {
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: 10px;
}

.skill-card ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
}

.skill-card ul li {
    font-size: 1.1em;
    color: #ffffff;
    line-height: 1.4;
    margin-bottom: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    width: 100%;
}
